{% from 'BtnAdminBundle:Macros:icon.html.twig' import gi %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:Macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::list.html.twig' %}

{% block list_header %}
    {{ lst.header('btn_component.container.list') }}
{% endblock %}

{% block list_table %}
    <table class="{{ lst.table_class() }}">
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{% trans %}btn_admin.id{% endtrans %}</th>
                <th>{{ 'btn_component.container.title'|trans }}</th>
                <th class="{{ lst.col_act_class('lg') }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            {% if entity.editable %}
                <tr>
                    <td class="{{ lst.col_id_class() }}">{{ entity.dynamic ? entity.id|default() }}</td>
                    <td>{{ entity.title ?: ( entity.static ? entity.id|trans ) }}</td>
                    <td class="{{ lst.col_act_class() }}">
                        {{ lnk.primary('btn_component.container.components', 'btn_component_componentcontrol_list', { containerId: entity.id }) }}
                        {% if entity.editable and entity.dynamic %}
                            {{ lnk.edit('btn_component_containercontrol_edit', { id: entity.id }) }}
                        {% endif %}
                        {% include 'BtnComponentBundle:ContainerControl:_action_post.html.twig' ignore missing with {entity: entity} only %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_buttons %}
    {% if manageable %}
        {{ lnk.add('btn_component_containercontrol_new') }}
    {% endif %}
{% endblock %}
