{% from 'BtnAdminBundle:Macros:icon.html.twig' import gi %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:Macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::list.html.twig' %}

{% block list_header %}
    {{ lst.header(
        'btn_component.component.list'|trans({'%container_title%': container.title}),
        'btn_component.component.list_secondary'|trans({'%container_title%': container.title})
    ) }}
{% endblock %}

{% block list_table %}
    <table class="{{ lst.table_class() }}" btn-sortable>
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{{ 'btn_component.component.id'|trans }}</th>
                <th>{{ 'btn_component.component.title'|trans }}</th>
                {% if container.manageable %}
                    <th>{{ 'btn_component.component.visible'|trans }}</th>
                {% endif %}
                <th class="{{ lst.col_act_class() }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in components %}
            <tr data-id="{{ entity.id }}">
                <td class="{{ lst.col_id_class() }}">{{ entity.id }}</td>
                <td>{{ entity.title ?: entity.type|trans }}</td>
                {% if container.manageable %}
                    <td>{{ entity.visible ? gi('ok') : gi('remove') }}</td>
                {% endif %}
                <td class="{{ lst.col_act_class() }}">
                    {% if container.manageable or container.editable %}
                        {{ lnk.edit('btn_component_componentcontrol_edit', { id: entity.id }) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_buttons %}
    {{ lnk.back('btn_component_containercontrol_index') }}
    {% if container.manageable %}
        {{ lnk.add('btn_component_componentcontrol_new', {containerId: container.id}) }}
    {% endif %}
{% endblock %}
