{% from 'BtnAdminBundle:Macros:icon.html.twig' import gi %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:Macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::list.html.twig' %}

{% block breadcrumb %}
    {% include 'BtnComponentBundle:ComponentControl:_list_breadcrumb.html.twig' with {container: container} only %}
{% endblock %}

{% block list_header %}
    {% include 'BtnComponentBundle:ComponentControl:_list_header.html.twig' with {container: container} only %}
{% endblock %}

{% block list_table %}
    <table class="{{ lst.table_class() }}" {% if container.sortable %}btn-sortable="{{ path('btn_component_componentcontrol_position') }}"{% endif %}>
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{{ 'btn_component.component.id'|trans }}</th>
                <th>{{ 'btn_component.component.title'|trans }}</th>
                {% if container.manageable %}
                    <th class="text-center">{{ 'btn_component.component.visible'|trans }}</th>
                {% endif %}
                {% if container.sortable %}
                    <th class="text-center">{{ 'btn_admin.change_position'|trans }}</th>
                {% endif %}
                <th class="{{ lst.col_act_class() }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in components %}
            <tr data-id="{{ entity.id }}">
                <td class="{{ lst.col_id_class() }}">{{ entity.id }}</td>
                <td>{{ entity.title ?: entity.type|trans }}</td>
                {% if container.manageable %}
                    <td class="text-center">{{ entity.visible ? gi('ok') : gi('remove') }}</td>
                {% endif %}
                {% if container.sortable %}
                    <td class="move-position text-center"><i class="glyphicon glyphicon-move"></i></td>
                {% endif %}
                <td class="{{ lst.col_act_class() }}">
                    {% if container.manageable or container.editable %}
                        {{ lnk.edit('btn_component_componentcontrol_edit', { id: entity.id }) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_buttons %}
    {% include 'BtnComponentBundle:ComponentControl:_list_buttons.html.twig' with {container: container} only %}
    {% include 'BtnComponentBundle:ComponentControl:_list_buttons_post.html.twig' ignore missing with {container: container} only %}
{% endblock %}
