{% from 'BtnAdminBundle:_macros:icon.html.twig' import glyphicon as gi %}
{% from 'BtnAdminBundle:_macros:link.html.twig' import link_back, link_add, link_edit %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'btn_webplatform.component.list'|trans({'%container_title%': container.title ?: container.name|trans }) }}</h1>
    </div>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th class="btn-control-column-id">{{ 'btn_webplatform.component.id'|trans }}</th>
                <th>{{ 'btn_webplatform.component.title'|trans }}</th>
                {% if container.manageable %}
                    <th>{{ 'btn_webplatform.component.visible'|trans }}</th>
                {% endif %}
                <th>{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in components %}
            <tr>
                <td class="btn-control-column-id">{{ entity.id }}</td>
                <td>{{ entity.title ?: entity.type|trans }}</td>
                {% if container.manageable %}
                    <td>{{ entity.visible ? gi('ok') : gi('remove') }} }}</td>
                {% endif %}
                <td>
                    {% if container.manageable or container.editable %}
                        {{ link_edit('btn_webplatform_componentcontrol_edit', { id: entity.id }) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ link_back('btn_webplatform_containercontrol_index') }}

    {% if container.manageable %}
        {{ link_add('btn_webplatform_componentcontrol_new', {container: container.name}) }}
    {% endif %}

{% endblock %}
