{% extends 'BtnWebplatformBundle::layout.html.twig' %}

{% form_theme form 'BtnCrudBundle:Form:fields.html.twig' %}

{% block btn_webplatform_content %}

    <form action="{{ form.vars.action }}" method="post" {{ form_enctype(form) }} class="well form-horizontal" novalidate>
        <fieldset>
            <legend>{{ 'btn_webplatform.component.edit'|trans({'%component_name%': component.type|trans, '%container_name%' : container.name}) }}</legend>

            {% if form.visible is defined %}
                {{ form_row(form.visible) }}
            {% endif %}

            {% for parameterField in form.parameters %}
                <div class="form-group">
                    {{ form_label(parameterField, null, {label_attr: {class: 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">{{ form_widget(parameterField) }}</div>
                </div>
            {% endfor %}

            {{ form_widget(form.save) }}

            {{ form_rest(form) }}
        </fieldset>
    </form>

    <a href="{{ path('btn_webplatform_componentmanager_list', {container: component.container}) }}" class="btn btn-default">&laquo; {% trans %}crud.back{% endtrans %}</a>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/color.css') }}">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/color.js') }}"></script>
    <script src="{{ asset('js/embeded.js') }}"></script>
{% endblock %}
